$gradient: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

html {
  scroll-behavior: smooth;
}

* {
  // border: red 1px solid;
}

@font-face {
  font-family: arcade;
  src: url(../fonts/manaspc.ttf);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #20303B;
  height: 100%;
  color: skyblue;
  // background-image: url("../img/brick.jpg");
}


.website {
  margin-top: 50px;
}

ion-icon {
  font-size: 32px;
  color: skyblue;
  transition: .5s;
  padding: 0px 7px;
}

nav {
  justify-content: space-between;
  background-color: #31356E;
  position: fixed;
  top: 0;
  width: 100%;
  a:hover, ion-icon:hover {
    color: #648ACC;
  }
}

.links {
  align-items: center;
  a {
    padding: 0px 15px;
    margin: 0px 15px;
    color: skyblue;
    transition: .5s;
  }
}

.header-right {
  margin-right: 35px;
}

.main
{
  h1 {
    text-align: center;
    margin-bottom: -16px;
  }
  p {
    text-align: center;
  }
}

.home-post {
  text-align: center;
}

#statement {
  justify-content: center;
  width: 100%;
}

.word {
  width: 60%;
  justify-content: center;
}

.system-container {
  justify-content: center;
}

.system-card {
  text-align: center;
  width: 275px;
  height: 275px;
  border: 1px solid lightgray;
  margin: 0px 35px;
  margin-bottom: 35px;
  justify-content: center;
}

// Nintendo section

.nintendo {
  text-align: center;
  background-image: url("http://box5396.temp.domains/~rgtwishl/wp-content/uploads/2018/09/MARIOBACKROUND.png");
  background-size: 100% 100%;
  color: white;
  font-family: arcade;
  padding-top: 5px;
}


.nes, .snes, .n64, .gamecube, .wii, .switch, .gameboy, .gbadvance, .virtual, .ds, .nin3ds{
  background-size: 275px 275px;
  align-items: center;
  h4 {
    padding: 0px 15px;
  }
  a{
    transition: .5s;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #20303B;
    background-color: white;
  }
  a:active {
    color: white;
  }
}

.nes {
  background-image: $gradient, url("../img/nes.jpg");
}

.snes {
  background-image: $gradient, url("../img/snes.JPG");
}

.n64 {
  background-image: $gradient, url("../img/n64.JPG");
}

.gamecube {
  background-image: $gradient, url("../img/gamecube.jpg");
}

.wii {
  background-image: $gradient, url("../img/wii.JPG");
}

.switch {
  background-image: $gradient, url("../img/switch.JPG");
}

.gameboy {
  background-image: $gradient, url("../img/gb.JPG");
}
.gbadvance {
  background-image: $gradient, url("../img/gba.JPG");
}

.virtual {
  background-image: $gradient, url("../img/virtual.JPG");
}

.ds {
  background-image: $gradient, url("../img/ds.JPG");
}

.nin3ds {
  background-image: $gradient, url("../img/3ds.JPG");
}


// Sony Section
.sony {
  text-align: center;
}

footer {
  justify-content: space-around;
  width: 100%;
  bottom: 0px;

}

@media screen and (max-width: 1200px) {
  .system-card {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .system-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
  }

  ion-icon {
    font-size: 24px;
  }

  .header-right {
    margin: 0px;
  }

  .links {
    a{
      padding: 5px;
    }
  }
}
